---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
// $brand-color:      #2a7ae2; <= Jekyll Default
$brand-color:      #7D110c; // <= IU Color
// $brand-color:      #663334 // From IU 'Pride'

$grey-color:       #82786F;
$grey-color-light: #AEA79F;
$grey-color-dark:  #4A3C31;
//$grey-color:       #828282;
//$grey-color-light: lighten($grey-color, 40%);
//$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

th, td {
  padding: 0 10px 2px 10px;
}
th:first-child, td:first-child {
  padding-left: 0;
}
th {
  text-align: left;
}
.recent-talk:not(:last-child) {
  margin-bottom: 5px;
}
.recent-talk a {
  font-weight: bold;
}
.recent-talk .date {
  color: $grey-color;
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
