---
layout: default
---

<div class="home">

  <h2 id="upcoming">Upcoming meetings</h2>
  <table>
    <tr>
      <th>Date&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th style="text-align: left">Speaker</th>
      <th style="text-align: left">Official Business Times</th>
      <th style="text-align: left">Room</th>
    </tr>
    <tbody>
     <!--<tr>
        <td>31st August 2018</td>
        <td style="text-align: left">Jeremy Siek</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
     <tr>
        <td>7th September 2018</td>
        <td style="text-align: left">Ryan Scott</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
     <tr>
        <td>14th September 2018</td>
        <td style="text-align: left">Andre Kuhlenschmidt, Aaron Hsu</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
     </tr>-->
     <tr>
        <td>21st September 2018</td>
        <td style="text-align: left">Chaitanya Koparkar, Ryan Scott</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
     <tr>
        <td><s>29th September 2018</s></td>
        <td style="text-align: left">Cancelled (ICFP etc.)</td>
     </tr>
     <tr>
        <td>5th October 2018</td>
        <td style="text-align: left">ICFP Review (Fall break?)</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
     </tr>
     <tr>
        <td>12th October 2018</td>
        <td style="text-align: left">TBD</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
     </tr>
     <tr>
        <td>19th October 2018</td>
        <td style="text-align: left">TBD</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
     </tr>
     <tr>
        <td>26th October 2018</td>
        <td style="text-align: left">TBD</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
      <tr>
        <td>2nd November 2018</td>
        <td style="text-align: left"><href="https://www.cs.cmu.edu/~cangiuli/">Carlo Angiuli</a></td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
      <tr>
        <td>9th November 2018</td>
        <td style="text-align: left">TBD</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
      <tr>
        <td>16th November 2018</td>
        <td style="text-align: left">TBD</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
      <tr>
        <td><s>23rd November 2018</s></td>
        <td style="text-align: left">Cancelled (Thanksgiving)</td>
      </tr>
      <tr>
        <td>30th November 2018</td>
        <td style="text-align: left">TBD</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
      <tr>
        <td>7th December 2018</td>
        <td style="text-align: left">TBD</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
      <tr>
        <td>14th December 2018</td>
        <td style="text-align: left">TBD</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
     <tr>
        <td>...</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />



  <h2 id="recent-meetings">Recent meetings</h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/539qdXBtmAY" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/CpADWJa-f28?rel=0" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/g5GMQPI8wmw" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/u59tzXNFerY" frameborder="0" allowfullscreen></iframe>

  <br />

  <table>
    <tr>
      <th>Date&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th style="text-align: left">Speaker</th>
      <th style="text-align: left">Official Business Times</th>
    </tr>
    <tbody>
    </tbody>
  </table>
  <br />
  <br />

  <h1 class="page-heading">Weekly meetings</h1>
  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tbody>
      <tr>
        <td><b>When?</b></td>
        <td style="text-align: left">Fridays at 4:15pm-5:00pm (during IU Fall/Spring semesters)</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: left"><a href="#upcoming">Upcoming meetings</a></td>
      </tr>
      <tr>
        <td><b>Where?</b></td>
        <td style="text-align: left">Luddy Hall Room 1104 (or announced as we go)</td>
      </tr>
      <tr>
        <td><b>What?</b></td>
        <td style="text-align: left">Eat and mingle, 4:00pm - 4:15pm</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: left">Talks, 4:15pm - 5:00pm</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: left">Eat and mingle, 5:00pm - 6:00pm</td>
      </tr>
      <tr>
        <td><b>Who?</b></td>
        <td style="text-align: left">All are welcome to attend! See below for our regulars</td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />

  <h2>Research</h2>

  Our group's research interests cover a wide spectrum of topics. Check out some
  of our work: Boost, Build-to-Order BLAS, C++ Concepts, Chapel Generics,
  Hakaru, Hansei, JavaScript Modules, Racket & Typed Racket, miniKanren, LVars,
  monad-par, meta-par, WaveScript.

  <br />
  <br />

  <h3>Faculty</h3>

  <table>
    <tr><td></td>
        <td valign="top">
            <b>Dan Friedman</b> [<a href="http://www.cs.indiana.edu/~dfried">Site</a>]<br />
            Relational & Logic Languages, Meta-circularity, Reflection
        </td>
        <td></td>
        <td valign="top">
            <b>Ryan Newton</b> [<a href="http://www.cs.indiana.edu/~rrnewton">Site</a>]<br />
            Streaming, Distributed and GPU DSLs,
            Haskell Deterministic Parallelism
        </td>
    </tr>
    <tr><td></td>
        <td valign="top">
            <b>Amr Sabry</b> [<a href="http://www.cs.indiana.edu/~sabry">Site</a>]<br />
            Quantum Computing, Type Theory, Information Effects
        </td>
        <td></td>
        <td valign="top">
            <b>Chung-chieh Shan</b> [<a href="http://homes.soic.indiana.edu/ccshan/">Site</a>]<br />
            Probabilistic Programming, Semantics
        </td>
    </tr>
    <tr><td></td>
        <td valign="top">
            <b>Jeremy Siek</b> [<a href="http://homes.soic.indiana.edu/jsiek/">Site</a>]<br />
            Gradual Typing, Mechanized Metatheory, High-Performance
        </td>
        <td></td>
        <td valign="top">
            <b>Sam Tobin-Hochstadt</b> [<a href="http://homes.soic.indiana.edu/samth/">Site</a>]<br />
            Types for Untyped Languages, Contracts, Languages for the Web
        </td>
    </tr>
  </table>

  <br />

  <table style="width: 100%;"><tr>
  <td valign="top">
  <h3>Students</h3>
  <ul>
    <li><a href="http://www.cs.indiana.edu/~dalmahal">Deyaaeldeen Almahallawi</a></li>
    <li><a href="https://ambrosebs.com">Ambrose Bonnaire-Sergeant</a></li>
    <li>Ben Boskin</li>
    <li><a href="https://github.com/kylcarte">Kyle Carter</a></li>
    <li><a href="http://homes.soic.indiana.edu/budkahaw/">Buddhika Chamith</a></li>
    <li><a href="https://www.linkedin.com/in/chenchaohong/?ppe=1">Chao-Hong Chen</a></li>
    <li><a href="https://vikraman.org">Vikraman Choudhury</a></li>
    <li><a href="http://caner.derici.me">Caner Derici</a></li>
    <li><a href="http://hemann.pl">Jason Hemann</a></li>
    <li>Matthew Heimerdinger</li>
    <li><a href="http://www.cs.indiana.edu/~awhsu">Aaron Hsu</a></li>
    <li><a href="https://pnwamk.github.io/">Andrew Kent</a></li>
    <li><a href="http://mypage.iu.edu/~bkovitz/">Ben Kovitz</a></li>
    <li><a href="https://github.com/ckoparkar">Chaitanya Koparkar</a></li>
    <li><a href="https://twitter.com/koronkebitch">Paulette Koronkevich</a></li>
    <li>Andre Kuhlenschmidt</li>
    <li>Victoria Lewis</li>
    <li>Weixi Ma</li>
    <li><a href="http://homes.soic.indiana.edu/pravnar/">Praveen Narayanan</a></li>
    <li><a href="http://ryanglscott.github.io/">Ryan Scott</a></li>
    <li>Sarah Spall</li>
    <li>Aadit Shah</li>
    <li>Rajan Walia</li>
    <li><a href="http://www.crest.iu.edu/node/167">Chris Wailes</a></li>
    <li><a href="http://homes.soic.indiana.edu/mvitouse/">Michael Vitousek</a></li>
    <li><a href="http://recurial.com/">Michael Vollmer</a></li>
  </ul>
  </td>

  <td valign="top">
  <h3>Inactive Students</h3>
  <ul>
    <li><a href="https://www.cs.indiana.edu/~adkulkar/">Abhishek Kulkarni</a></li>
    <li><a href="http://cl.indiana.edu/~wren/">wren romano</a></li>
  </ul>

  <h3>Faculty Emeriti</h3>
  <ul>
    <li><a href="http://www.cs.indiana.edu/~dyb">Kent Dybvig</a></li>
  </ul>

  <h3>Former Members</h3>
  <ul>
    <li><a href="http://osa1.net/">Ömer Sinan Ağacan</a></li>
    <li><a href="http://www.edwardamsden.com">Edward Amsden</a></li>
    <li><a href="https://github.com/sabauma">Spenser Bauman</a></li>
    <li><a href="http://cimini.info/">Matteo Cimini</a> (Post Doc, 2015-2017)</li>
    <li><a href="https://github.com/peter-fogg">Peter Fogg</a></li>
    <li><a href="https://www.linkedin.com/in/paul-ojanen-b3892b4b/">Paul Ojanen</a></li>
    <li><a href="http://www.cse.unsw.edu.au/~tmcdonell/site/index.html">Trevor L. McDonell</a></li>
    <li>Jamie Perconti</li>
    <li>Kyle Ross</li>
    <li><a href="http://homes.soic.indiana.edu/zasparks/">Zach Sparks</a></li>
    <li><a href="http://www.cse.chalmers.se/~joels/">Joel Svensson</a></li>
    <li><a href="https://www.linkedin.com/in/john-paul-verkamp-420a3660">John-Paul Verkamp</a></li>
    <li><a href="http://www.cs.indiana.edu/~yw21">Yin Wang</a></li>
    <li><a href="http://www.davidchristiansen.dk/">David Christiansen</a> (Post Doc, 2016-2017)</li>
  </ul>
  </td>

  <td valign="top">
  <h3>Alumni</h3>
  <ul>
    <li><a href="http://www.cs.indiana.edu/~adamsmd">Michael Adams</a> (Ph.D. 2011)</li>
    <li>Claire Alvis (B.S. 2011)</li>
    <li><a href="http://www.williamjbowman.com/">Billy Bowman</a> (M.S. 2012)</li>
    <li><a href="http://www.cs.indiana.edu/~webyrd">Will Byrd</a> (Ph.D. 2009)</li>
    <li><a href="http://blog.acfoltzer.net/">Adam Foltzer</a> (M.S. 2012)</li>
    <li><a href="http://sites.google.com/site/stevenganz/">Steve Ganz</a> (Ph.D. 2006)</li>
    <li><a href="http://www.cs.ubc.ca/~rxg/">Ronald Garcia</a> (Ph.D. 2008)</li>
    <li>Abdulaziz Ghuloum (Ph.D. 2009)</li>
    <li>Jaime Guerrero (M.S. 2015)</li>
    <li><a href="http://www.cs.indiana.edu/~rpjames">Roshan James</a> (Ph.D 2013)</li>
    <li>Andy Keep (Ph.D. 2013)</li>
    <li><a href="http://www.cs.indiana.edu/~lkuper">Lindsey Kuper</a> (Ph.D. 2015)</li>
    <li><a href="http://people.csail.mit.edu/jnear/">Joseph P. Near</a> (B.S. 2008)</li>
    <li>Dipanwita Sarkar (Ph.D. 2008)</li>
    <li>Rebecca Swords (M.S. 2011)</li>
    <li>Aaron Todd (M.S. 2013)</li>
    <li><a href="http://www.cs.indiana.edu/~wangho">Hongyan Wang</a> (M.S. 2012)</li>
    <li><a href="http://www.crest.iu.edu/projects/conceptcpp">Larisse Voufo</a> (Ph.D. 2014)</li>
    <li><a href="http://www.cs.ox.ac.uk/people/timothy.zakian/main.html">Tim Zakian</a> (B.S. 2015)</li>
    <li><a href="https://blog.theincredibleholk.org/">Eric Holk</a> (Ph.D. 2016)</li>
    <li><a href="https://www.cs.indiana.edu/~nnmahaja/">Nilesh Mahajan</a> (Ph.D. 2017)</li>
    <li><a href="https://www.linkedin.com/in/chun-yu-shei-b9a925ba/">Chun-Yu Shei</a> (Ph.D. 2014)</li>
    <li><a href="https://www.cs.indiana.edu/~cswords/">Cameron Swords (Ph.D. 2018)</a></li>
  </ul>
  </td></tr></table>

  <h2>Talks</h2>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.date | date: "%Y.%m.%-d." }}
            {{ post.title }}</a>
          <small>{{ post.authors }}</small>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <a href="/talks.html"><h2>Full Talk List</h2></a>

  <!-- Pagination links -->
  <!--
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div> -->

  <br />
  <br />

  <h1 class="page-heading">About PL Wonks</h1>

  <p>
  We're a group of programming language researchers and enthusiasts who engage
  in the discussion and study of the semantic and logic foundations of
  programming languages, language design, type theory, compilers, program
  analysis and optimization, program specification and construction, and
  emerging models of computation. We have meetings most weeks during the
  semester, and an active mailing list. Please consult the following links to
  attend or sign up.
  </p>


  <ul>
    <li><a href="https://list.indiana.edu/sympa/info/pl-wonks-l">pl-wonks-l</a>, our official mailing list</li>
    <li><a class="page=link" href="/policy.html">Friendly Environment Policy</a></li>
  </ul>

  <br />
  <br />

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
