---
layout: default
---

<div class="home">

  <h2>About PL Wonks</h2>

  <p>
  We're a group of programming language researchers and enthusiasts at
  <strong><a href="https://luddy.indiana.edu/">Indiana University</a></strong>
  who engage in the discussion and study of the semantic and logical foundations
  of programming languages, language design, type theory, compilers, program
  analysis and optimization, program specification and construction, and
  emerging models of computation.
  </p>

  <p>
  Our group's research interests cover a wide spectrum of topics.
  Check out some of our work:
  <a href="https://www.boost.org/">Boost</a>,
  <a href="https://github.com/nelsonth/btoblas">Build-to-Order BLAS</a>,
  C++ Concepts,
  <a href="https://chapel-lang.org/docs/language/spec/generics.html">Chapel Generics</a>,
  <a href="http://iu-parfunc.github.io/gibbon/">Gibbon</a>,
  <a href="https://hakaru-dev.github.io/">Hakaru</a>,
  <a href="https://okmij.org/ftp/kakuritu/Hansei.html">Hansei</a>,
  JavaScript Modules,
  <a href="https://racket-lang.org/">Racket</a> &amp;
  <a href="https://docs.racket-lang.org/ts-guide/">Typed Racket</a>,
  <a href="https://redprl.org/">the red* proof assistants</a>,
  <a href="http://minikanren.org/">miniKanren</a>,
  <a href="https://decomposition.al/blog/2013/05/25/how-to-read-from-an-lvar-an-illustrated-guide/">LVars</a>,
  <a href="https://hackage.haskell.org/package/monad-par">monad-par</a>,
  <a href="https://hackage.haskell.org/package/meta-par">meta-par</a>,
  <a href="https://github.com/rrnewton/WaveScript">WaveScript</a>.
  </p>

  <p>
  If you'd like to keep in touch, join:
  </p>

  <ul>
    <li>the <a href="https://wonks.github.io/plrg/contact.html">PL Reading Group</a> mailing list and <a href="https://discord.gg/42JTcjc64T">Discord</a></li>
    <li><a href="https://list.iu.edu/sympa/info/pl-wonks-l">pl-wonks-l</a>, our official mailing list</li>
  </ul>

  <h2>Members</h2>

  <h3>Faculty</h3>

  <table id="faculty-list">
    <tr>
      <td>
        <span class="faculty-name">Carlo Angiuli</span>
        [<a href="https://www.carloangiuli.com/">Site</a>]<br />
        Dependent Types, Homotopy Type Theory, Proof Assistants
      </td>
      <td>
        <span class="faculty-name">Dan Friedman</span>
        [<a href="http://www.cs.indiana.edu/~dfried">Site</a>]<br />
        Relational &amp; Logic Languages, Meta-circularity, Reflection
      </td>
    </tr>
    <tr>
      <td>
        <span class="faculty-name">Ryan Newton</span>
        [<a href="https://luddy.indiana.edu/contact/profile/?Ryan_Newton">Site</a>]<br />
        Streaming, Distributed and GPU DSLs, Haskell Deterministic Parallelism
        </td>
      <td>
        <span class="faculty-name">Amr Sabry</span>
        [<a href="http://www.cs.indiana.edu/~sabry">Site</a>]<br />
        Quantum Computing, Type Theory, Information Effects
      </td>
    </tr>
    <tr>
      <td>
        <span class="faculty-name">Chung-chieh Shan</span>
        [<a href="http://homes.soic.indiana.edu/ccshan/">Site</a>]<br />
        Probabilistic Programming, Semantics
      </td>
      <td>
        <span class="faculty-name">Jeremy Siek</span>
        [<a href="http://homes.soic.indiana.edu/jsiek/">Site</a>]<br />
        Gradual Typing, Mechanized Metatheory, High-Performance
      </td>
    </tr>
    <tr>
      <td>
        <span class="faculty-name">Sam Tobin-Hochstadt</span>
        [<a href="http://homes.soic.indiana.edu/samth/">Site</a>]<br />
        Types for Untyped Languages, Contracts, Languages for the Web
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>

  <br />

  <table style="width: 100%;"><tr>
  <td valign="top">
  <h3>Students</h3>
  <ul>
    <li><a href="https://homes.luddy.indiana.edu/chen512/">Tianyu Chen</a></li>
    <li><a href="https://chenxiao2402.github.io">Xiao Chen</a></li>
    <li><a href="https://joshuacrotts.us/">Joshua Crotts</a></li>
    <li><a href="https://cderici.github.io/">Caner Derici</a></li>
    <li><a href="https://dcclogin.github.io/about/">Chenchao Ding</a></li>
    <li><a href="https://github.com/capfredf">Fred Fu</a></li>
    <li><a href="https://github.com/ariagivens">Aria Givens</a></li>
    <li><a href="https://echawk.github.io">Ethan Hawk</a></li>
    <li><a href="https://www.linkedin.com/in/artem-yurchenko">Artem Iurchenko</a></li>
    <li><a href="https://ungatz.github.io/">Sanad Kadu</a></li>
    <li><a href="https://ais-climber.github.io/">Caleb Schultz Kisby</a></li>
    <li><a href="https://github.com/DarshalShetty">Darshal Shetty</a></li>
    <li>Zixiu Su</li>
    <li><a href="https://abbaswu.github.io/">Jifeng Wu</a></li>
    <li>Yafei Yang</li>
  </ul>
  </td>

  <td valign="top">
  <!--
  <h3>Inactive Students</h3>
  <ul>
  </ul>
  -->

  <h3>Faculty Emeriti</h3>
  <ul>
    <li><a href="http://www.cs.indiana.edu/~dyb">Kent Dybvig</a></li>
  </ul>

  <h3>Former Members</h3>
  <ul>
    <li><a href="http://osa1.net/">Ömer Sinan Ağacan</a></li>
    <li><a href="http://www.edwardamsden.com">Edward Amsden</a></li>
    <li><a href="https://github.com/sabauma">Spenser Bauman</a></li>
    <li><a href="http://www.davidchristiansen.dk/">David Christiansen</a> (Postdoc, 2016-2017)</li>
    <li><a href="https://www.cs.uml.edu/~mcimini/">Matteo Cimini</a> (Postdoc, 2015-2017)</li>
    <li><a href="https://github.com/peter-fogg">Peter Fogg</a></li>
    <li>Andre Kuhlenschmidt</li>
    <li><a href="https://tmcdonell.github.io/">Trevor L. McDonell</a> (Postdoc, 2014-2016)</li>
    <li><a href="https://www.linkedin.com/in/paul-ojanen-b3892b4b/">Paul Ojanen</a></li>
    <li>Jamie Perconti</li>
    <li>Kyle Ross</li>
    <li><a href="http://ryanglscott.github.io/">Ryan Scott</a></li>
    <li>Cassandra Sparks</li>
    <li><a href="http://svenssonjoel.github.io/">Joel Svensson</a></li>
    <li><a href="https://www.linkedin.com/in/john-paul-verkamp-420a3660">John-Paul Verkamp</a></li>
    <li>Yin Wang</li>
    <li>Chris Wailes</li>
  </ul>
  </td>

  <td valign="top">
  <h3>Alumni</h3>
  <ul>
    <li><a href="https://bicompact.space/">Tulip Amalie</a> (B.S. 2024)</li>
    <li><a href="https://github.com/Fyrbll">Kartik Sabharwal</a> (M.S. 2023)</li>
    <li><a href="https://annrpom.github.io/">Annie Pompa</a> (M.S. 2023)</li>
    <li><a href="https://www.linkedin.com/in/benkovitz/">Ben Kovitz</a> (Ph.D. 2023)</li>
    <li><a href="https://vikraman.org">Vikraman Choudhury</a> (Ph.D. 2023)</li>
    <li><a href="https://sambowman.tech/">Sam Bowman</a> (M.S. 2023)</li>
    <li><a href="https://github.com/ckoparkar">Chaitanya Koparkar</a> (Ph.D. 2023)</li>
    <li>Rajan Walia (Ph.D. 2022)</li>
    <li>Sarah Spall (Ph.D. 2022)</li>
    <li>Adithya Selvaprithiviraj (M.S. 2021)</li>
    <li>Weixi Ma (Ph.D. 2021)</li>
    <li><a href="https://www.linkedin.com/in/matthew-heimerdinger/">Matthew Heimerdinger</a> (M.S. 2021)</li>
    <li><a href="https://www.linkedin.com/in/chenchaohong/?ppe=1">Chao-Hong Chen</a> (Ph.D. 2021)</li>
    <li><a href="http://recurial.com/">Michael Vollmer</a> (Ph.D. 2021)</li>
    <li>Victoria Vollmer (M.S. 2020)</li>
    <li><a href="https://lukuangchen.github.io/">Kuang-Chen Lu</a> (M.S. 2020)</li>
    <li>Joshua Larkin (B.S. 2020)</li>
    <li>Buddhika Chamith (Ph.D. 2020)</li>
    <li><a href="http://github.com/deyaaeldeen">Deyaaeldeen Almahallawi</a> (Ph.D. 2020)</li>
    <li><a href="https://www.sacrideo.us/">Aaron Hsu</a> (Ph.D. 2019)</li>
    <li><a href="https://twitter.com/koronkebitch">Paulette Koronkevich</a> (B.S. 2019)</li>
    <li><a href="https://pnwamk.github.io/">Andrew Kent</a> (Ph.D. 2019)</li>
    <li><a href="https://github.com/laurmcarter">Laurel Carter</a> (M.S. 2019)</li>
    <li><a href="https://ambrosebs.com">Ambrose Bonnaire-Sergeant</a> (Ph.D. 2019)</li>
    <li>Abhishek Kulkarni (Ph.D. 2018)</li>
    <li>Michael Vitousek (Ph.D. 2018)</li>
    <li>Ben Boskin (B.S. 2018)</li>
    <li><a href="https://www.linkedin.com/in/pravnar">Praveen Narayanan</a> (Ph.D. 2018)</li>
    <li><a href="https://jasonhemann.github.io/about/">Jason Hemann</a> (Ph.D. 2018)</li>
    <li><a href="http://cswords.com/">Cameron Swords</a> (Ph.D. 2018)</li>
    <li>Nilesh Mahajan (Ph.D. 2017)</li>
    <li><a href="https://in.linkedin.com/in/aaditmshah">Aadit Shah</a> (M.S. 2017)</li>
    <li><a href="https://wrengr.org/">wren romano</a> (Ph.D. 2016)</li>
    <li><a href="https://blog.theincredibleholk.org/">Eric Holk</a> (Ph.D. 2016)</li>
    <li>Jaime Guerrero (M.S. 2015)</li>
    <li><a href="https://users.soe.ucsc.edu/~lkuper/">Lindsey Kuper</a> (Ph.D. 2015)</li>
    <li><a href="https://tzakian.github.io">Tim Zakian</a> (B.S. 2015)</li>
    <li>Larisse Voufo (Ph.D. 2014)</li>
    <li><a href="https://www.linkedin.com/in/chun-yu-shei-b9a925ba/">Chun-Yu Shei</a> (Ph.D. 2014)</li>
    <li>Roshan James (Ph.D 2013)</li>
    <li>Andy Keep (Ph.D. 2013)</li>
    <li>Aaron Todd (M.S. 2013)</li>
    <li>Hongyan Wang (M.S. 2012)</li>
    <li><a href="http://www.williamjbowman.com/">Billy Bowman</a> (M.S. 2012)</li>
    <li><a href="https://www.linkedin.com/in/adam-foltzer-42a1899a">Adam Foltzer</a> (M.S. 2012)</li>
    <li>Rebecca Swords (M.S. 2011)</li>
    <li>Claire Alvis (B.S. 2011)</li>
    <li><a href="https://michaeldadams.org/">Michael Adams</a> (Ph.D. 2011)</li>
    <li><a href="http://webyrd.net/">Will Byrd</a> (Ph.D. 2009)</li>
    <li>Abdulaziz Ghuloum (Ph.D. 2009)</li>
    <li>Dipanwita Sarkar (Ph.D. 2008)</li>
    <li><a href="http://www.cs.ubc.ca/~rxg/">Ronald Garcia</a> (Ph.D. 2008)</li>
    <li><a href="http://people.csail.mit.edu/jnear/">Joseph P. Near</a> (B.S. 2008)</li>
    <li><a href="http://sites.google.com/site/stevenganz/">Steve Ganz</a> (Ph.D. 2006)</li>
  </ul>
  </td></tr></table>

  <h2>Upcoming Events</h2>

  <ul id="upcoming-talk-list">
      {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
      {% assign cnt = 0 %}
      {% for post in site.posts reversed %}
      {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
      {% if posttime >= nowunix %}
      <li class="recent-talk">
          {{ post.authors }} &mdash;
          <a href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}</a>
          <span class="date">{{ post.date | date: "(%m/%d/%Y)" }}</span>
      </li>
      {% assign cnt = cnt | plus: 1 %}
      {% endif %}
      {% endfor %}
  </ul>

  {% if cnt == 0 %}
  <p><em> Sorry no event scheduled yet. Please check again later! </em></p>
  {% endif %}

  <h2>Past Events</h2>


  <iframe src="https://www.youtube.com/embed/c282Q5VL75Y" frameborder="0" allowfullscreen></iframe>


  <ul id="recent-talk-list">
    {% assign cnt = 0 %}
    {% for post in site.posts %}
      {% if cnt == 10 %}
      {% break %}
      {% endif %}
      {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
      {% if posttime < nowunix %}
      <li class="recent-talk">
          {{ post.authors }} &mdash;
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}</a>
          <span class="date">{{ post.date | date: "(%m/%d/%Y)" }}</span>
      </li>
      {% assign cnt = cnt | plus: 1 %}
      {% endif %}
    {% endfor %}
  </ul>

  <p>
  See the
  <strong><a href="/talks">full list of events</a></strong>
  or
  <span class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a>.
  </p>

</div>
