---
layout: default
---

<div class="home">

  <h2>About PL Wonks</h2>

  <p>
  We're a group of programming language researchers and enthusiasts at
  <strong><a href="https://luddy.indiana.edu/">Indiana University</a></strong>
  who engage in the discussion and study of the semantic and logical foundations
  of programming languages, language design, type theory, compilers, program
  analysis and optimization, program specification and construction, and
  emerging models of computation.
  </p>

  <p>
  Our group's research interests cover a wide spectrum of topics.
  Check out some of our work:
  <a href="https://www.boost.org/">Boost</a>,
  <a href="https://github.com/nelsonth/btoblas">Build-to-Order BLAS</a>,
  C++ Concepts,
  <a href="https://chapel-lang.org/docs/language/spec/generics.html">Chapel Generics</a>,
  <a href="http://iu-parfunc.github.io/gibbon/">Gibbon</a>,
  <a href="https://hakaru-dev.github.io/">Hakaru</a>,
  <a href="https://okmij.org/ftp/kakuritu/Hansei.html">Hansei</a>,
  JavaScript Modules,
  <a href="https://racket-lang.org/">Racket</a> &amp;
  <a href="https://docs.racket-lang.org/ts-guide/">Typed Racket</a>,
  <a href="https://redprl.org/">the red* proof assistants</a>,
  <a href="http://minikanren.org/">miniKanren</a>,
  <a href="https://decomposition.al/blog/2013/05/25/how-to-read-from-an-lvar-an-illustrated-guide/">LVars</a>,
  <a href="https://hackage.haskell.org/package/monad-par">monad-par</a>,
  <a href="https://hackage.haskell.org/package/meta-par">meta-par</a>,
  <a href="https://github.com/rrnewton/WaveScript">WaveScript</a>.
  </p>

  <p>
  If you'd like to keep in touch, join:
  </p>

  <ul>
    <li>the <a href="https://wonks.github.io/plrg/contact.html">PL Reading Group</a> mailing list and Discord</li>
    <li><a href="https://list.indiana.edu/sympa/info/pl-wonks-l">pl-wonks-l</a>, our official mailing list</li>
  </ul>

  <h2>Members</h2>

  <h3>Faculty</h3>

  <table id="faculty-list">
    <tr>
      <td>
        <span class="faculty-name">Carlo Angiuli</span>
        [<a href="https://www.carloangiuli.com/">Site</a>]<br />
        Dependent Types, Homotopy Type Theory, Proof Assistants
      </td>
      <td>
        <span class="faculty-name">Dan Friedman</span>
        [<a href="http://www.cs.indiana.edu/~dfried">Site</a>]<br />
        Relational &amp; Logic Languages, Meta-circularity, Reflection
      </td>
    </tr>
    <tr>
      <td>
        <span class="faculty-name">Ryan Newton</span>
        [<a href="https://luddy.indiana.edu/contact/profile/?Ryan_Newton">Site</a>]<br />
        Streaming, Distributed and GPU DSLs, Haskell Deterministic Parallelism
        </td>
      <td>
        <span class="faculty-name">Amr Sabry</span>
        [<a href="http://www.cs.indiana.edu/~sabry">Site</a>]<br />
        Quantum Computing, Type Theory, Information Effects
      </td>
    </tr>
    <tr>
      <td>
        <span class="faculty-name">Chung-chieh Shan</span>
        [<a href="http://homes.soic.indiana.edu/ccshan/">Site</a>]<br />
        Probabilistic Programming, Semantics
      </td>
      <td>
        <span class="faculty-name">Jeremy Siek</span>
        [<a href="http://homes.soic.indiana.edu/jsiek/">Site</a>]<br />
        Gradual Typing, Mechanized Metatheory, High-Performance
      </td>
    </tr>
    <tr>
      <td>
        <span class="faculty-name">Sam Tobin-Hochstadt</span>
        [<a href="http://homes.soic.indiana.edu/samth/">Site</a>]<br />
        Types for Untyped Languages, Contracts, Languages for the Web
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>

  <br />

  <table style="width: 100%;"><tr>
  <td valign="top">
  <h3>Students</h3>
  <ul>
    <li><a href="https://github.com/ariagivens">Aria Givens</a></li>
    <li><a href="https://www.linkedin.com/in/caleb-schultz-kisby-b2565a232/">Caleb Schultz Kisby</a></li>
    <li><a href="https://github.com/DarshalShetty">Darshal Shetty</a></li>
    <li><a href="https://github.com/capfredf">Fred Fu</a></li>
    <li><a href="https://homes.luddy.indiana.edu/chen512/">Tianyu Chen</a></li>
    <li><a href="https://bicompact.space/">Tulip Amalie</a></li>
    <li>Zixiu Su</li>
    <li><a href="https://cderici.github.io/">Caner Derici</a></li>
    <li>Andre Kuhlenschmidt</li>
    <li>Aadit Shah</li>
  </ul>
  </td>

  <td valign="top">
  <h3>Inactive Students</h3>
  <ul>
    <li>Abhishek Kulkarni</li>
  </ul>

  <h3>Faculty Emeriti</h3>
  <ul>
    <li><a href="http://www.cs.indiana.edu/~dyb">Kent Dybvig</a></li>
  </ul>

  <h3>Former Members</h3>
  <ul>
    <li><a href="http://ryanglscott.github.io/">Ryan Scott</a></li>
    <li><a href="http://osa1.net/">Ömer Sinan Ağacan</a></li>
    <li><a href="http://www.edwardamsden.com">Edward Amsden</a></li>
    <li><a href="https://github.com/sabauma">Spenser Bauman</a></li>
    <li><a href="https://www.cs.uml.edu/~mcimini/">Matteo Cimini</a> (Post Doc, 2015-2017)</li>
    <li><a href="https://github.com/peter-fogg">Peter Fogg</a></li>
    <li><a href="https://www.linkedin.com/in/paul-ojanen-b3892b4b/">Paul Ojanen</a></li>
    <li><a href="https://tmcdonell.github.io/">Trevor L. McDonell</a></li>
    <li>Jamie Perconti</li>
    <li>Kyle Ross</li>
    <li>Cassandra Sparks</li>
    <li><a href="http://svenssonjoel.github.io/">Joel Svensson</a></li>
    <li><a href="https://www.linkedin.com/in/john-paul-verkamp-420a3660">John-Paul Verkamp</a></li>
    <li>Yin Wang</li>
    <li><a href="http://www.davidchristiansen.dk/">David Christiansen</a> (Post Doc, 2016-2017)</li>
    <li>Chris Wailes</li>
  </ul>
  </td>

  <td valign="top">
  <h3>Alumni</h3>
  <ul>
    <li>Kartik Sabharwal (M.S. 2023)</li>
    <li>Annie Pompa (M.S. 2023)</li>
    <li><a href="https://www.linkedin.com/in/benkovitz/">Ben Kovitz</a> (Ph.D. 2023)</li>
    <li><a href="https://vikraman.org">Vikraman Choudhury</a> (Ph.D. 2023)</li>
    <li><a href="https://sambowman.tech/">Sam Bowman</a> (M.S. 2023)</li>
    <li><a href="https://github.com/ckoparkar">Chaitanya Koparkar</a> (Ph.D. 2023)</li>
    <li>Rajan Walia (Ph.D. 2022)</li>
    <li>Sarah Spall (Ph.D. 2022)</li>
    <li>Weixi Ma (Ph.D. 2021)</li>
    <li><a href="https://www.linkedin.com/in/matthew-heimerdinger/">Matthew Heimerdinger</a> (M.S. 2021)</li>
    <li><a href="https://www.linkedin.com/in/chenchaohong/?ppe=1">Chao-Hong Chen</a> (Ph.D. 2021)</li>
    <li><a href="http://recurial.com/">Michael Vollmer</a> (Ph.D. 2021)</li>
    <li>Victoria Vollmer (M.S. 2020)</li>
    <li>Kuang-Chen Lu (M.S. 2020)</li>
    <li>Joshua Larkin (B.S. 2020)</li>
    <li>Buddhika Chamith (Ph.D. 2020)</li>
    <li><a href="http://github.com/deyaaeldeen">Deyaaeldeen Almahallawi</a> (Ph.D. 2020)</li>
    <li><a href="https://www.sacrideo.us/">Aaron Hsu</a> (Ph.D. 2019)</li>
    <li><a href="https://twitter.com/koronkebitch">Paulette Koronkevich</a> (B.S. 2019)</li>
    <li><a href="https://pnwamk.github.io/">Andrew Kent</a> (Ph.D. 2019)</li>
    <li><a href="https://github.com/laurmcarter">Laurel Carter</a> (M.S. 2019)</li>
    <li><a href="https://ambrosebs.com">Ambrose Bonnaire-Sergeant</a> (Ph.D. 2019)</li>
    <li>Michael Vitousek (Ph.D. 2018)</li>
    <li>Ben Boskin (B.S. 2018)</li>
    <li><a href="https://www.linkedin.com/in/pravnar">Praveen Narayanan</a> (Ph.D. 2018)</li>
    <li><a href="http://hemann.pl">Jason Hemann</a> (Ph.D. 2018)</li>
    <li><a href="http://cswords.com/">Cameron Swords</a> (Ph.D. 2018)</li>
    <li>Nilesh Mahajan (Ph.D. 2017)</li>
    <li><a href="https://wrengr.org/">wren romano</a> (Ph.D. 2016)</li>
    <li><a href="https://blog.theincredibleholk.org/">Eric Holk</a> (Ph.D. 2016)</li>
    <li>Jaime Guerrero (M.S. 2015)</li>
    <li><a href="https://users.soe.ucsc.edu/~lkuper/">Lindsey Kuper</a> (Ph.D. 2015)</li>
    <li><a href="https://tzakian.github.io">Tim Zakian</a> (B.S. 2015)</li>
    <li>Larisse Voufo (Ph.D. 2014)</li>
    <li><a href="https://www.linkedin.com/in/chun-yu-shei-b9a925ba/">Chun-Yu Shei</a> (Ph.D. 2014)</li>
    <li>Roshan James (Ph.D 2013)</li>
    <li>Andy Keep (Ph.D. 2013)</li>
    <li>Aaron Todd (M.S. 2013)</li>
    <li>Hongyan Wang (M.S. 2012)</li>
    <li><a href="http://www.williamjbowman.com/">Billy Bowman</a> (M.S. 2012)</li>
    <li><a href="https://www.linkedin.com/in/adam-foltzer-42a1899a">Adam Foltzer</a> (M.S. 2012)</li>
    <li>Rebecca Swords (M.S. 2011)</li>
    <li>Claire Alvis (B.S. 2011)</li>
    <li><a href="https://michaeldadams.org/">Michael Adams</a> (Ph.D. 2011)</li>
    <li><a href="http://webyrd.net/">Will Byrd</a> (Ph.D. 2009)</li>
    <li>Abdulaziz Ghuloum (Ph.D. 2009)</li>
    <li>Dipanwita Sarkar (Ph.D. 2008)</li>
    <li><a href="http://www.cs.ubc.ca/~rxg/">Ronald Garcia</a> (Ph.D. 2008)</li>
    <li><a href="http://people.csail.mit.edu/jnear/">Joseph P. Near</a> (B.S. 2008)</li>
    <li><a href="http://sites.google.com/site/stevenganz/">Steve Ganz</a> (Ph.D. 2006)</li>
  </ul>
  </td></tr></table>

  <h2 id="videos">Videos</h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/539qdXBtmAY" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/CpADWJa-f28?rel=0" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/g5GMQPI8wmw" frameborder="0" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/u59tzXNFerY" frameborder="0" allowfullscreen></iframe>

  <!--
  <h2 id="recent-meetings">Recent meetings</h2>

  <table>
    <tr>
      <th>Date</th>
      <th>Speaker</th>
      <th>Official Business Times</th>
      <th>Room</th>
    </tr>
    <tbody>    
      <tr>
        <td>Jan 24</td>
        <td>Core AI Showcase</td>
        <td>9:00&ndash;4:30</td>
        <td>Luddy 1106</td>
      </tr>
      <tr>
        <td>Jan 31</td>
        <td>Matthew Heimerdinger</td>
        <td>4:15&ndash;5:00</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>Feb 7</td>
        <td>Andre Kuhlenschmidt</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Feb 14</td>
        <td>Michael Vollmer</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Feb 21</td>
        <td>Weixi Ma</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Feb 28</td>
        <td>Rajan Walia</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mar 6</td>
        <td>Ryan Scott</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mar 13</td>
        <td>Fred Fu</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mar 20</td>
        <td>Spring Break</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Mar 27</td>
        <td>(Caleb)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Apr 3</td>
        <td>(Sarah)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Apr 10</td>
        <td>(Rajan)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Apr 17</td>
        <td>(Chai)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Apr 24</td>
        <td>(Andre)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>May 1</td>
        <td>(Kuang-Chen)</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>May 8</td>
        <td>Finals Week</td>
        <td></td>
        <td></td>
      </tr>
  -->

<!--
- **January 25:** Planning
- **February 1:** (Baking: Sabrina & Caleb)
- **February 8:** Ambrose Bonnaire-Sergeant (Baking: Andre)
- **February 15:** (Baking: Kyle)
- **February 22:** (Baking: Paulette)
- **March 1:**            (ICFP Deadline)
- **March 8:** Ryan Scott (Baker: TBD)
- **March 15:** Spring Break
- **March 22:** Kyle Carter (Baker: TBD)
- **March 29:** Andre Kuhlenschmidt (Baker: TBD)
- **April 5:**  Ryan Newton (OOPSLA Deadline)
- **April 12:** Caleb Kisby (Baker: TBD)
- **April 19:** Caner Derici (Baker: TBD)
- **April 26:** Paulette K. 
--!>      
     <!--<tr>
        <td>31st August 2018</td>
        <td style="text-align: left">Jeremy Siek</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
     <tr>
        <td>7th September 2018</td>
        <td style="text-align: left">Ryan Scott</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
      </tr>
     <tr>
        <td>14th September 2018</td>
        <td style="text-align: left">Andre Kuhlenschmidt, Aaron Hsu</td>
        <td style="text-align: left">4:15pm - 5:00pm</td>
        <td style="text-align: left">Luddy Hall 1104</td>
     </tr>-->
     <!-- <tr> -->
     <!--    <td>21st September 2018</td> -->
     <!--    <td style="text-align: left">Chaitanya Koparkar, Ryan Scott</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!--  </tr> -->
     <!-- <tr> -->
     <!--    <td><s>29th September 2018</s></td> -->
     <!--    <td style="text-align: left">Cancelled (ICFP etc.)</td> -->
     <!-- </tr> -->
     <!-- <tr> -->
     <!--    <td>5th October 2018</td> -->
     <!--    <td style="text-align: left">ICFP Review (Fall break?)</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!-- </tr> -->
     <!-- <\!-- -->
     <!-- [x]  Andrew Kent -->
     <!-- [x]  Ambrose -->
     <!-- [ ]  Wong Chen -->
     <!-- [x]  Robert Rose -->
     <!-- [x]  Kyle Carter -->
     <!-- [x]  Fred (Sam's student) -->
     <!-- [ ]  Tessa (usually doesn't want to talk) -->
     <!-- [x]  Joshua (3rd year undergrad) -->
     <!-- [x]  Cayleb (1st year phd) -->
     <!-- [x]  Vikraman -->
     <!-- [x]  Mike Vollmer -->
     <!-- [x]  Tori Lewis -->
     <!-- [x]  Matthew H -->
     <!-- [x]  Paulette -->
     <!-- [x]  Rajan -->
     <!-- [ ]  Shugen (1st year masters) -->
     <!-- [x]  Sarah -->
     <!-- [x]  Caner -->
     <!-- [x]  Deyaa (October) -->
     <!-- [x]  Weixi -->
     <!-- Chao-Hong -->
     <!-- -\-> -->
     <!-- <tr> -->
     <!--    <td>12th October 2018</td> -->
     <!--    <td style="text-align: left">Deyaa, Vikraman, Fred</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!-- </tr> -->
     <!-- <tr> -->
     <!--    <td>19th October 2018</td> -->
     <!--    <td style="text-align: left">Kyle Carter, Mike Vollmer, Cayleb</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!-- </tr> -->
     <!-- <tr> -->
     <!--    <td>26th October 2018</td> -->
     <!--    <td style="text-align: left">Joshua, Paulette, Buddhika</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!--  </tr> -->
     <!--  <tr> -->
     <!--    <td>2nd November 2018</td> -->
     <!--    <td style="text-align: left"><href="https://www.cs.cmu.edu/~cangiuli/">Carlo Angiuli</a></td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!--  </tr> -->
     <!--  <tr> -->
     <!--    <td>9th November 2018</td> -->
     <!--    <td style="text-align: left">Sarah, Caner, Rajan</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!--  </tr> -->
     <!--  <tr> -->
     <!--    <td>16th November 2018</td> -->
     <!--    <td style="text-align: left">Tori, Matthew H, Chao-Hong</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!--  </tr> -->
     <!--  <tr> -->
     <!--    <td><s>23rd November 2018</s></td> -->
     <!--    <td style="text-align: left">Cancelled (Thanksgiving)</td> -->
     <!--  </tr> -->
     <!--  <tr> -->
     <!--    <td>30th November 2018</td> -->
     <!--    <td style="text-align: left">Andrew Kent, Ambrose, Weixi</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!--  </tr> -->
     <!--  <tr> -->
     <!--    <td>7th December 2018</td> -->
     <!--    <td style="text-align: left">TBD</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!--  </tr> -->
     <!--  <tr> -->
     <!--    <td>14th December 2018</td> -->
     <!--    <td style="text-align: left">TBD</td> -->
     <!--    <td style="text-align: left">4:15pm - 5:00pm</td> -->
     <!--    <td style="text-align: left">Luddy Hall 1104</td> -->
     <!--  </tr> -->
     <!-- <tr> -->
     <!--    <td>...</td> -->
     <!--  </tr> -->
    </tbody>
  </table>

  <!--
  <h2>Weekly meetings</h2>
  <table>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tbody>
      <tr>
        <td><b>When?</b></td>
        <td style="text-align: left">Fridays at 4:15pm-5:00pm (during IU Fall/Spring semesters)</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: left"><a href="#upcoming">Upcoming meetings</a></td>
      </tr>
      <tr>
        <td><b>Where?</b></td>
        <td style="text-align: left">Luddy Hall Room 1104 (or announced as we go)</td>
      </tr>
      <tr>
        <td><b>What?</b></td>
        <td style="text-align: left">Eat and mingle, 4:00pm - 4:15pm</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: left">Talks, 4:15pm - 5:00pm</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: left">Eat and mingle, 5:00pm - 6:00pm</td>
      </tr>
      <tr>
        <td><b>Who?</b></td>
        <td style="text-align: left">All are welcome to attend! See below for our regulars</td>
      </tr>
    </tbody>
  </table>
  -->

  <br /><br />

  <h2>Recent Talks</h2>

  <ul id="recent-talk-list">
    {% for post in paginator.posts %}
      <li class="recent-talk">
          {{ post.authors }} &mdash;
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}</a>
          <span class="date">{{ post.date | date: "(%m/%d/%Y)" }}</span>
      </li>
    {% endfor %}
  </ul>

  <p>
  See the
  <strong><a href="/talks.html">full list of talks</a></strong>
  or
  <span class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a>.
  </p>

  <!-- Pagination links
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div> -->
</div>
