<header class="site-header">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon"></span>
      </label>

      <div class="nav-items">
        <a class="nav-item" href="/policy.html">Policy</a>
        <a class="nav-item" href="/courses.html">Courses</a>
        <a class="nav-item" href="/activities.html">Activities</a>
        <a class="nav-item" href="/groups.html">Related Groups</a>
        <a class="nav-item" href="/talks">Events</a>
        <a class="nav-item" href="/archives.html">(By Category)</a>
      </div>
    </nav>

  </div>

</header>
